html 
{
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
}

.view_box
{
	display:block;
	width:60%;
	height:500px;
	margin-left: 20px;
	margin-top: 20px;
	padding: 10px;
	float:left;
	border: 2px;
	border-style: solid;
	border-color: #000000;
}

.view_box table
{
	display:block;
}
